<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Gimnasios</h1>
        <table class=" table table-hover table-bordered">
            <thead class= "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Aforo</th>
                    <th>Numero de maquinas</th>
                    <th>Horario</th>
                    <th>Aplica Compartido</th>
                    <th>Nombre del Hotel</th>
                </tr>
            </thead>
            <th:block th:each="gimnasio:${gimnasios}">
                <tr>
                    <td th:text="${gimnasio.idtiposervicio }"></td>
                    <td th:text="${gimnasio.aforo}"></td>
                    <td th:text="${gimnasio.nummaquinas}"></td>
                    <td th:text="${gimnasio.horario}"></td>
                    <td th:text="${gimnasio.aplicaCompartido}"></td>
                    <td th:text="${gimnasio.hotel.nombre}"></td>
                    <td>
                        <a th:href="@{gimnasios/{id}/edit(id=${gimnasio.idtiposervicio})}">
                            Editar
                        </a>
                        <a th:ref="@{gimnasios/{id}/delete(id=${gimnasio.idtiposervicio})}"
                        onclick="return confirm('¿Estás seguro de borrar este gimnasio?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
    </div>
</body>
</html>