<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container mx-auto text-center mt-5">
        <h1>Hoteles</h1>
        <div class="btn-group mt-3" role="group" aria-label="Iniciar sesión">
            <a th:href="@{/inicio}" class="btn btn-primary">Entrar</a>
        </div>
        <div class="btn-group mt-3" role="group" aria-label="Controladores">
            <a th:href="@{/bares}" class="btn btn-secondary">Bares</a>
            <a th:href="@{/consumos}" class="btn btn-secondary">Consumo</a>
            <a th:href="@{/gimnasios}" class="btn btn-secondary">Gimnasio</a>
            <a th:href="@{/internets}" class="btn btn-secondary">Internet</a>
            <a th:href="@{/lavanderias}" class="btn btn-secondary">Lavanderia</a>
            <a th:href="@{/piscinas}" class="btn btn-secondary">Piscina</a>
            <a th:href="@{/restaurantes}" class="btn btn-secondary">Restaurantes</a>
            <a th:href="@{/salones}" class="btn btn-secondary">Salon</a>
            <a th:href="@{/spas}" class="btn btn-secondary">Spa</a>
            <a th:href="@{/supermercados}" class="btn btn-secondary">Supermercado</a>
            <a th:href="@{/tiendas}" class="btn btn-secondary">Tienda</a>

        </div>
    </div>
</body>
</html>