<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internets</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div>
        <h1>Lista de Internets</h1>
        <table class=" table table-hover table-bordered">
            <thead class= "thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Incluido</th>
                    <th>Aplica Compartido</th>
                    <th>Nombre del Hotel</th>
                </tr>
            </thead>
            <th:block th:each="internet:${internets}">
                <tr>
                    <td th:text="${internet.idtiposervicio}"></td>
                    <td th:text="${internet.incluido}"></td>
                    <td th:text="${internet.aplicaCompartido}"></td>
                    <td th:text="${internet.hotel.nombre}"></td>
                    <td>
                        <a th:href="@{internets/{id}/edit(id=${internet.idtipoServicio})}">Editar</a>
                        <a th:href="@{internets/{id}/delete(id=${internet.idtipoServicio})}"
                            onclick="return confirm('¿Estás seguro de borrar este internet?')">Borrar</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Volver Atrás</a>
    </div>
</body>
</html>